<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= name%></title>

    <script type="text/javascript">
        if (!!window.ActiveXObject || "ActiveXObject" in window) {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://tianyu.res.netease.com/comm/js/polyfill.min.js';
            document.getElementsByTagName('head')[0].appendChild(script);
        }
    </script>

</head>
<body>
    <!--[if lt IE 9]>
    <div style="position:absolute;left:0;top:0;width:100%;height:50px;background:rgb(255,255,233);color:rgb(30,84,148);border-bottom:1px solid rgb(230,230,198);text-align:center;line-height:50px;font-size:12px;z-index: 2048;">
        您使用的浏览器版本过低，可能会影响到您浏览本网页，建议您升级您的浏览器。
    </div>
    <![endif]-->
</body>
</html>